html, body {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.5vw;
    text-align: center;
    background-color: #009688;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12);*/
}

.navigation a {
    font-weight: lighter;
    color: #F5F5F5;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation a:hover {
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.navigation a:active {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.about {
    height: 100vh;
    background-color: #F5F5F5;
    padding-top: 10vh;
    text-align: center;
    font-size: 1.8vw;
}

.about b {
    color: #009688;
}

.img-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.showcase {
    /*width: 100vw;*/
    height: 100vh;
    background: url("http://www.planwallpaper.com/static/images/41-Best-and-Coolest-Collection-HD-Wallpapers-Ever-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    height: 100vh;
    /*width: 100vw;*/
    padding-top: 15vh;
    padding-left: 35vw;
    padding-right: 35vw;
    background-color: #009688;
}

.contact p:hover {
    text-decoration: none;
}

.footer {
    background-color: #009688;
    height: 4vh;
    /*width: 100vw;*/
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: lighter;
}

input[type=text] {
    border: 1px solid #E0F2F1;
    background: #E0F2F1;
    border-radius: 1px;
    width: 30vw;
    height: 3.2vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input[type=submit] {
    border: 1px solid #E0F2F1;
    color: #009688;
    background: #E0F2F1;
    padding: 10px 20px;
    border-radius: 1px;
    font-weight: 900;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input[type=submit]:hover {
    background: #fff;
    font-weight: 900;
}

input[type=submit]:active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

textarea {
    border: 1px solid #E0F2F1;
    background: #E0F2F1;
    border-radius: 1px;
    width: 30vw;
    height: 40vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

textarea:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

label {
    color: #fff;
    font-weight: lighter;
    padding: 5px;
}
