html,body{
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Lato', sans-serif;
  /*font-family: 'Roboto', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Raleway', sans-serif;*/
  font-size:14px;
  padding:0;
  margin: 0;
  background-color: #F5F5F5;
}

.navigation{
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  font-size: 25px;
  text-align: center;
  background-color: #009688;
  padding-bottom: 25px;
  word-spacing: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.navigation a{
  color:#E0F2F1;
  text-decoration:none;
}
.navigation a:hover{
  color:#ffffff;
  text-decoration:none;
}

.lid{
  margin-top: 100px;
  height: 100%;
  text-align: center;
  background-color: #F5F5F5;
  margin-bottom: 20px;
}

.lid p{
  font-size: 25px;
  color: #212121
}

.lid b{
  color: #009688;
}

.img-circle {
  width: 300px;
	height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.slider{
  /*height: 593px;*/
  background-color: #212121;
}

.slider img{

  /*margin-top: 3px;*/
  width:100%;
  /*height: 100%;*/
}

.contact{
  height: 550px;
  text-align: center;
  text-align: left;
  background-color: #00897B;
  padding: 50px;
}

.contact form{
  font-size: 16px;
}

input[type=text] {
  border: 1px solid #E0F2F1;
  background: #E0F2F1;
  border-radius: 1px;
  width: 400px;
  height: 22px;
}

input[type=submit] {
    border: 1px solid #E0F2F1;
    color: #009688;
    background: #E0F2F1;
    padding: 10px 20px;
    border-radius: 1px;
    font-weight: 900;
}

input[type=submit]:hover {
    background: #fff;
    font-weight: 900;
}

textarea{
  border: 1px solid #E0F2F1;
  background: #E0F2F1;
  border-radius: 1px;
  width: 400px;
  height: 280px;
}

input:focus{
  background: #fff;
  outline: none;
}

textarea:focus{
  background: #fff;
  outline: none;
}

label{
  color: #fff;
}


.footer{
  border-top: white;
  text-align: center;
  background-color: #009688;
  height: 180px;
}

.to-the-top{
  margin-top: 55px;
  font-weight: 400;
  font-size: 25px;
}

.to-the-top a{
  color: #E0F2F1;
  text-decoration:none;
}

.to-the-top a:hover{
  color: #ffffff;
  text-decoration:none;
}

.copyright{
  margin-top: 55px;
}

.copyright p{
  color: #ffffff;
}

.line{
  height: 5px;
  width: 100%;
  background-color: #fff;
}
